* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent1 {
    border:5px solid green;
    font-size: 0;
}
.child1 {
    border: 5px solid red;
    display:inline-block;
    width: 50%;
    font-size: 40px;
}

.parent2 {
    border:5px solid green;
    font-size: 0;
}
.child2 {
    border: 5px solid red;
    display:inline-block;
    width: 33.33%;
    font-size: 40px;
}


/*body {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-image: url(./assets/shell.jpg);
    background-size: cover;
    background-position:center;
    height: 700px;
   
}



/*body {

    height: 700px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(./assets/shell.jpg);
    background-size: cover;
    background-position:center;
    color: #926239;
    font-size: 20px;
   
}*/

/*a {
    color: #926239;
    text-decoration: none;
    border: 1px solid #926239;
    padding: 8px;
    border-radius: 7px;
    
  
}*/
